---
layout: default
---
<div class="project__grid">

	<!-- Slider main container -->
	<div class="swiper-container">
	    <!-- Additional required wrapper -->
	    <div class="swiper-wrapper">
	        <!-- Slides -->
	        {% for post in site.posts %}
		        <div class="swiper-slide">
					<a href="{{ site.baseurl }}{{ post.url }}" class="hero__link link-animate">
					    <h1><span>{{ post.title }}</span></h1>
					    <p>{{ post.post_description | truncatewords:30 | }}</p>
					    <p class="hero__cta">view project</p>
					</a>
		        </div>
	        {% endfor %}
	    </div>
	    <!-- If we need pagination -->
	    <div class="swiper-pagination"></div>
	    
	    <!-- If we need navigation buttons -->
	    <div class="swiper-button-prev"></div>
	    <div class="swiper-button-next"></div>
	    
	    <!-- If we need scrollbar -->
	    <div class="swiper-scrollbar"></div>
	</div>

<!-- 	{% for post in site.posts %}
	<article class="project" style="background-image:url({{ post.post_image }})">
	    <div class="project__container">
	        <div class="project__content">
	            <a href="{{ site.baseurl }}{{ post.url }}" class="hero__link link-animate">
	                <h1><span>{{ post.title }}</span></h1>
	                <p>{{ post.post_description | truncatewords:30 | }}</p>
	                <p class="hero__cta">view project</p>
	            </a>
	        </div>
	    </div>
	</article>
	{% endfor %} -->
</div>

