body {
	font-size: 14px;
	
	@include bp(medium-up) {
		font-size: 16px;
	}
}

.container {
	max-width: 40em;
	margin: 0 auto;
	padding: 0 $small-spacing;
}


.project__grid {
	display: flex;
	flex-direction: column;

	@include bp(large-up) {
		flex-direction: row;
	}

}

.project {
	min-height: calc(100vh - 5rem);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
	position: relative;

	
	
	&:before {
	    content: '';
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background-image: linear-gradient(to bottom right, $primary, $primary);
	    opacity: .9;
	    z-index: 10;
	}

	display: block;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: top;
}

.project__container {
	padding: $base-spacing*2 $small-spacing;
	flex: 30em;
}

.project__content {
	position: relative;
	z-index: 20;
}

.hero__cta {
	margin: $base-spacing 0;
	text-decoration: underline;
}

a.hero__link {
	color: #fff;
	@include hoverer(color, #fff, rgba(white, 0.8));
	h1 {
		margin-left: -.06em;
	}
}
.contact-form {
	margin: $base-spacing 0;
}
.post {
	margin-bottom: $base-spacing;
}
