.container {
	max-width: 40em;
	margin: 0 auto;
	padding: 0 $small-spacing;
}

.hero {
	min-height: calc(100vh - 5rem);
	// background-image: url(http://static1.squarespace.com/static/51e49870e4b09000c7b24043/53a4def7e4b0015fbd205d3a/56ea1363d210b8c5e871377e/1458180965857/DoubleCup_Blue.jpg?format=2500w);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
	position: relative;
	
	&:before {
	    content: '';
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background-image: linear-gradient(to bottom right, #000, #000);
	    opacity: .4;
	    z-index: 1;
	}


	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;

}

.hero__content {
	position: relative;
	z-index: 2;
}

.hero__cta {
	margin: $base-spacing 0;
	text-decoration: underline;
}

a.hero__link {
	color: #fff;
	@include hoverer(color, #fff, rgba(white, 0.8));
	
	h1 {
		margin-left: -.06em;
	}
}
.contact-form {
	margin: $base-spacing 0;
}
.post {
	margin-bottom: $base-spacing;
}
