.post {

}

.post__hero {
	position: relative;
	z-index: 10;
	min-height: 60vh;
	background: $light-gray;
	background-size: cover;
	background-position: center;
	margin-bottom: $base-spacing;

	display: flex;
	align-items: center;
	justify-content: center;

	// width: 100%;
	
	&:before {
	    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,$primary,$primary);
		opacity: .9; 
	}
}

.post__title {
	position: relative;
	margin-bottom: 0;
	z-index: 20;
	color: #fff;
	text-align: center;
	padding: $base-spacing $small-spacing;
	@include fp(font-size, 10, 120);
	font-weight: 100;
	// letter-spacing: 0.1em;
	// text-transform: uppercase;
}

.post__nav {
	margin: $base-spacing 0 $base-spacing*2;
	.next {
		float: right;
	}
}