@font-face {
    font-family: 'Amicale';
    src: url('..fonts/amicale-regular-webfont.woff2') format('woff2'),
         url('..fonts/amicale-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Amicale';
    src: url('..fonts/amicale-bold-webfont.woff2') format('woff2'),
         url('..fonts/amicale-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Amicale';
    src: url('..fonts/amicale-light-webfont.woff2') format('woff2'),
         url('..fonts/amicale-light-webfont.woff') format('woff');
    font-weight: 300; 
    font-style: normal;
}

